.quiz-container {
  min-height: 100vh;
  background: linear-gradient(to right, #001f4d, #003366);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-box {
  width: 500px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.quiz-box h1 {
  margin-bottom: 20px;
}

.quiz-box h2 {
  margin-bottom: 30px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #003366;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.options button:hover {
  background: cyan;
  color: black;
}

.quiz-box h3 {
  margin-top: 25px;
}