*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins;
}

body{
  background:#0f172a;
  color:white;
}

/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111827;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  color:#38bdf8;
}

.navbar ul{
  display:flex;
  list-style:none;
  gap:25px;
}

.navbar a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.navbar a:hover{
  color:#38bdf8;
}

.btn{
  padding:10px 22px;
  border:none;
  border-radius:8px;
  background:linear-gradient(to right,#2563eb,#9333ea);
  color:white;
  cursor:pointer;
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.05);
}

.btn-outline{
  padding:10px 22px;
  border:1px solid white;
  background:transparent;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

/* HERO */

.hero{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding:0 10%;
  background:linear-gradient(to right,#0f172a,#1e293b);
}

.hero-content h1{
  font-size:55px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:20px;
  margin-bottom:30px;
  color:#cbd5e1;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

/* SECTION */

.section{
  padding:80px 10%;
  text-align:center;
}

.section h2{
  font-size:40px;
  margin-bottom:20px;
  color:#38bdf8;
}

.section p{
  color:#cbd5e1;
}

/* CARDS */

.cards{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  background:#334155;
}

/* STEPS */

.steps{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:40px;
}

.step{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
}

/* CONTACT */

.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:500px;
  margin:auto;
}

.contact-form input,
.contact-form textarea{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
}

/* FOOTER */

.footer{
  background:#111827;
  text-align:center;
  padding:30px;
}

/* RESPONSIVE */

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .navbar ul{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero-content h1{
    font-size:35px;
  }

}